<main class="main">
    {{#with data}}
    <form method="POST" action="/purchase-submit?id={{id}}" class="form-card">
        {{>heading title="Інформація про замовлення"}}

<p>ID: {{id}}</p>
  {{>divider}}
            <ul class="cart double_field">
                <li class="column">
                    <span>Ім'я:</span>
                    <span>{{firstname}}</span>
                    </li>
                <li class="column"> 
                     <span>Прізвище:</span>
                    <span>{{lastname}}</span>
                    </li>
                <li class="column">  <span>Телефон:</span>
                    <span>{{phone}}</span></li>
                <li class="column"> 
                     <span>Електронна пошта:</span>
                    <span>{{email}}</span></li>
            </ul>
    
    {{>divider}}
    <div class="column">
        <p>Назва товару:</p>
         <span>{{product}}</span>
        </div>

    <div class="column">
        <p>Коментар:</p>
         <span>{{comment}}</span>
     </div>


 {{>divider}}
  <ul class="cart double_field">
                <li class="column">
                    <span>Вартість товарів:</span> 
                    <span>{{productPrice}} ₴</span></li>
                <li class="column">
                    <span>Сума до сплати:</span> 
                    <span>{{totalPrice}} ₴</span></li>
                <li class="column">
                    <span>Вартість доставки:</span> <span>{{deliveryPrice}} ₴</span></li>
                <li class="column">
                    <span>Нараховані бонуси: </span>
                    <span>{{bonus}} ₴</span></li>
            </ul>

    {{>divider}}


    {{!-- {{>button text="Змінити дані" href="/purchase-edit-form?id={{id}}"}}
     --}}
    <a href="/purchase-edit-form?id={{id}}" class="button">Змінити дані</a>

    </form>
    {{/with}}
</main>

